{% extends "base.html" %}

{% block content %}

<table class="container">
    <thead>
        <tr>
            <th>Date</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Summ</th>
        </tr>
    </thead>
    <tbody>
        {% for sold_item in sold_items %}
        <tr>
            <form>
                <td>{{ sold_items[sold_item][3] }}</td>
                <td>{{ sold_item }}</td>
                <td>{{ sold_items[sold_item][0] }}</td>
                <td>{{ sold_items[sold_item][2] }}</td>
                <td>{{ sold_items[sold_item][1] }}</td>
            </form>
        </tr>
        {% endfor %}
        <td></td>
        <td>Total summ:</td>
        <td></td>
        <td>{{ costs }}</td>
        <td></td>
    </tbody>
</table>
{% endblock %}
